<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>

    <<template "import.html" .>>
    <script src="/static/css/base_comment.css"></script>
    <script>var Timeline = <<.Timeline>></script>

</head>
<body>

</body>
    <<template "navbar.html" .>>
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="line-height:2">
                <div class="card rounded-0 border-0 p-3 f-16">
                    <<range $ImpressionIndex, $Impression := .AboutData>>
                            <<str2html $Impression.Content>>
                    <<end>>
                </div>
            </div>
            <div class="col-lg-4">
                <<template "base_right.html" .>>
            </div>
        </div>
    </div>

<!--回到顶部按钮-->
<div class="text-center" id="to-top">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>

</html>