<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <script>var UserInfo=<<.UserInfo>></script>

    <<template "import.html" .>>
    <script src="/static/js/mint-ui.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>


</head>
<body>

<!--导航开始-->
<<template "navbar.html" .>>
<!--导航结束-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2">
                    <h3 class="my-1 text-info">修改密码</h3>
                </div>
                <div class="card-body card-login">
                    <form id="alter" method="POST"  class="password_change" @submit.prevent="alterSubmit">
                        <input type="hidden" name="csrfmiddlewaretoken" value="QM5ji5Hh7jJdSk0JIrV4hnOjfKS7ASjLR8Bi8zaJSYNANbf7qGUxPNzsgqQAnd4L">


                        <div id="div_id_oldpassword" class="form-group">
                            <label for="id_oldpassword" class="col-form-label  requiredField">
                                当前密码<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="oldpassword" placeholder="当前密码" class="textinput textInput form-control" required="" id="id_oldpassword" v-model="password">
                            </div>
                        </div>

                        <div id="div_id_password1" class="form-group">
                            <label for="id_password1" class="col-form-label  requiredField">
                                新密码<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="password1" placeholder="新密码" class="textinput textInput form-control" required="" id="id_password1" v-model="new_password">
                            </div>
                        </div>

                        <div id="div_id_password2" class="form-group">
                            <label for="id_password2" class="col-form-label  requiredField">
                                新密码（重复）<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="password2" placeholder="新密码（重复）" class="textinput textInput form-control" required="" id="id_password2" v-model="repeat_password">
                            </div>
                        </div>

                        <button class="btn btn-info btn-sm rounded-0" type="submit" >修改密码</button>
                    </form>
                </div>
                <div class="text-center mb-5" id="social-login">
                    <div class="login-title">
                        <span>快速登录</span>
                    </div>
                    <div class="login-link">

                        <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>
                        <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid mt-4 py-0" style="position: fixed; bottom: 0; width: 100%">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
            <a href="https://github.com/pannnkee" target="_blank" title="博客作者的Github">Pannnkee</a>.&nbsp;Powered&nbsp;by&nbsp;Beego.
        </p>
        <p class="mb-0">
            <a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备2020034190号</a> |
            <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279471892&web_id=1279471892"></script> |
            <span id="web-day">网站已续航 <<.HowToLive>> 天</span>
        </p>
    </div>
</footer>

<script>
    var alter = new Vue({
        el:"#alter",
        data:function(){
            return {
                password:"",
                new_password:"",
                repeat_password:"",
            };
        },

        methods:{
           alterSubmit:function () {
                var t = this;
                var data = {
                    password: t.password,
                    new_password: t.new_password,
                    repeat_password: t.repeat_password,
                };
               data = JSON.stringify(data);
               post("user/alterPassword", data, function (data) {
                    if (data.code==0){
                        t.$toast("修改密码成功");
                        top.location.href="/";
                    }else{
                        t.$toast(data.msg);
                    }
               })
           }
        },
    });
</script>

</body>
</html>