<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <<template "import.html" .>>
    <script src="/static/css/base_comment.css"></script>
    <script>var Timeline = <<.Timeline>></script>
</head>
<body>

</body>
    <<template "navbar.html" .>>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card border-0 rounded-0 mb-3">
                    <div class="card-body f-16 archive">
                        <ul class="pl-4">

                            <li>2020年
                                <ul class="pl-4">
                                    <li>10 月 (共 3 篇)
                                        <ul class="pl-4">
                                            <li class="text-info">10-10&nbsp;&nbsp;<a href="/v1/api/article/1">Docker学习笔记(1)--容器镜像仓库</a></li>
                                        </ul>
                                        <ul class="pl-4">
                                            <li class="text-info">10-17&nbsp;&nbsp;<a href="/v1/api/article/2">Docker学习笔记(2)--基础操作</a></li>
                                        </ul>
                                        <ul class="pl-4">
                                            <li class="text-info">10-21 &nbsp;&nbsp;<a href="/v1/api/article/3">在Ubuntu:16.04上部署kubernetes集群</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <<template "base_right.html" .>>
            </div>
        </div>

    </div>
</html>