<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <<template "import.html" .>>
    <script src="/static/css/base_comment.css"></script>
    <script>var Timeline = <<.Timeline>></script>
</head>
<body>
    <<template "navbar.html" .>>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card border-0 rounded-0 mb-3">
                    <div class="card-body f-16 archive">
                        <ul class="pl-4">

                            <li>2020年
                                <ul class="pl-4">
                                    <li>10 月 (共 4 篇)
                                        <ul class="pl-4">
                                            <li class="text-info">10-10&nbsp;&nbsp;<a href="/article/1">Docker学习笔记(1)--容器镜像仓库</a></li>
                                        </ul>
                                        <ul class="pl-4">
                                            <li class="text-info">10-17&nbsp;&nbsp;<a href="/article/2">Docker学习笔记(2)--基础操作</a></li>
                                        </ul>
                                        <ul class="pl-4">
                                            <li class="text-info">10-21 &nbsp;&nbsp;<a href="/article/3">使用国内公有云部署kubernetes集群</a></li>
                                        </ul>

                                        <ul class="pl-4">
                                            <li class="text-info">10-30 &nbsp;&nbsp;<a href="/article/4">使用Docker+Kubernetes部署我的gozone</a></li>
                                        </ul>
                                    </li>

                                    <li>11 月 (共 1 篇)
                                        <ul class="pl-4">
                                            <li class="text-info">11-15 &nbsp;&nbsp;<a href="/article/5">执行"go func()"后，调度系统经历了什么？</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <<template "base_right.html" .>>
            </div>
        </div>
    </div>
<footer class="container-fluid mt-4 py-0" style="position: fixed; bottom: 0; width: 100%">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
            <a href="https://github.com/pannnkee" target="_blank" title="博客作者的Github">Pannnkee</a>.&nbsp;Powered&nbsp;by&nbsp;Beego.
        </p>
        <p class="mb-0">
            <a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备2020034190号</a> |
            <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279471892&web_id=1279471892"></script> |
            <span id="web-day">网站已续航 <<.HowToLive>> 天</span>
        </p>
    </div>
</footer>

</body>
</html>