<div class="summary-list">
    <<range $ImpressionIndex, $Impression := .HomeContent.Articles>>
        <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
            <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open" style="width: 30%;">
                <a></a>
                <img src = "https://tendcode.com//cdn/blog/20200723/pypi.png" class="w-100 article-img"  >
            </div>

            <div style="width: 70%;">
                <div>
                    <span><<$Impression.Author>></span>
                    <span><i class="fa fa-calendar-times-o ml-2 mr-1"></i><<$Impression.CreatedTimeStr>></span>

                    <h2 class="mt-0 font-weight-bold text-info f-17">
                        <a :href='"/v1/api/article/"+<<$Impression.Id>>' target="_blank" >
                            <<$Impression.ArticleTitle>>
                        </a>
                    </h2>

                    <p class="d-none d-sm-block mb-2 f-15"><<$Impression.SimpleContent>></p>
                    <p class="d-block d-sm-none mb-2 f-15"><<$Impression.SimpleContent>></p>

                    <div class="text-muted mb-0 f-12">
                        <a class="cate" href="" title="查看当前分类下更多文章">
                            <i class="fa fa-book mr-1"><<$Impression.ArticleClassName>></i></a>
                        <span><i class="fa fa-eye ml-2 mr-1"><<$Impression.CommentNumber>></i></span>
                        <a href="#comment-block" target="_blank" title="查看文章评论">
                            <i class="fa fa-comments ml-2 mr-1"><<$Impression.Views>></i></a>
                    </div>
                </div>
            </div>
        </div>
    <<end>>
</div>