<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <<template "import.html" .>>
    <meta name="description" content="<<.Description>>">
    <meta name="keywords" content="<<.Keywords>>">
</head>
<body>

<!--导航开始-->
<<template "navbar.html" .>>
<!--导航结束-->

<!--消息块-->
<div class="container" id="page">
<div class="row">
    <div class="col-lg-8" style=" padding:3%;">
        <div id="carouselExampleIndicators" class="carousel slide">

            <<if eq .HomeContent.ContentType 0>>
                <div>
                    <<template "carousel.html" .>>
                </div>
            <<else>>
                <<template "tag.html" .>>
            <<end>>
                <div class="text-secondary font-weight-bold py-2 f-15 choice">
                    <a class="pb-2 <<if ne .HomeContent.SortType 2>>active <<end>>" href="/?sortType=1&contentType=<<.HomeContent.ContentType>>">
                        <i class="fa fa-bars mr-1"></i>时间排序</a>
                    <a class="pb-2 ml-4 <<if eq .HomeContent.SortType 2>>active <<end>>" href="/?sortType=2&contentType=<<.HomeContent.ContentType>>">
                        <i class="fa fa-fire mr-1"></i>热度排序</a>
                </div>
            <<template "article_list.html" .>>
            <<template "pagecut.html" . >>
        </div>
    </div>

    <div class="col-lg-4" style=" padding-top:3%;">
        <<template "base_right.html" .>>
    </div>

<!--消息块结束-->

<!--回到顶部按钮-->
    <div class="text-center" id="to-top">
        <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
    </div>

<!--主要内容块-->
        <main>

        </main>


    </div>
</div>


<<template "foot.html" .>>

<script>
    var page = new Vue({
        el:"#page",
        data:function(){
            return {
                items: {},
                item: {},
                page: 1,
                limit: 4,
                count: 0,
                pagecount: 1,
            };
        },

        methods:{
            getItem:function(){
                const t = this;
                const url = "/home/content?type=1";
                const data={
                    page: t.page,
                    limit: t.limit,
                };
                get(url,data,function (d) {
                    if (d.code==0) {
                        t.items = d.body.data;
                    } else {

                    }
                })
            },
            getItemHot:function(){
                const t = this;
                const url = "/home/content?type=2";
                const data={};
                get(url,data,function (d) {
                    if (d.code==0) {
                        t.items = d.body.data;
                    } else {

                    }
                })
            }
        },

        created:function(){
            this.getItem();
        },
    });
</script>

</body>
</html>