<!--个人空间-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-paper-plane mr-2 f-17"></i>个人空间</strong>
    </div>

    <div class="card-body px-0 pt-3 pb-1">
        <div class="row text-center">

            <div class="col">
                <a href="" target="_blank" title="进入博主的Github查看博客源码">
                    <img style="max-width:40px" alt="博主的github" src="/static/img/github.png">
                    <p class="mt-2">Github</p>
                </a>
            </div>

            <div class="col">
                <a href="" target="_blank" title="订阅博客">
                    <img style="max-width:40px" alt="订阅博客RSS" src="/static/img/blog.png">
                    <p class="mt-2">RSS订阅</p>
                </a>
            </div>

            <div class="col">
                <a href="" target="_blank" title="订阅博客">
                    <img style="max-width:40px" alt="订阅博客RSS" src="/static/img/rss.png">
                    <p class="mt-2">RSS订阅</p>
                </a>
            </div>

        </div>
    </div>
</div>

<!--文章分类-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-book mr-2 f-17"></i>文章分类</strong>
    </div>

    <<range $ImpressionIndex, $Impression := .HomeContent.ArticleClass>>
        <ul class="list-group list-group-flush f-16">
            <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
                <a class="category-item"href="/?contentType=<<$Impression.Id>>" title="查看 Golang分类下所有文章">
                    <<$Impression.ClassName>>
                </a>
                <span class="badge text-center" title="当前分类下有100篇文章"><<$Impression.Nums>></span>
            </li>
        </ul>
    <<end>>
</div>

<!--标签云-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-tags mr-2 f-17"></i>标&nbsp;签&nbsp;云</strong>
    </div>
    <div class="card-body px-0 py-3">
        <div class="tag-cloud">
            <<range $ImpressionIndex, $Impression := .HomeContent.Tags>>
                <a href="<<$Impression.URL>>" class="tags f-16" title="这是一个title">
                    <<$Impression.TagName>>
                </a>
            <<end>>
        </div>
    </div>
</div>

<!--友链-->
<div class="d-none d-lg-block">
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="friends-card">
        <div class="card-header bg-white px-0">
            <strong><i class="fa fa-link mr-2 f-17"></i>友情链接</strong>
        </div>
        <div class="card-body px-0 py-3">
            <div class="tool-list">

                <<range $ImpressionIndex, $Impression := .HomeContent.Links>>
                    <div class="w-50 float-left text-center mb-2">
                        <div class="mx-2">
                            <a href="<<$Impression.URL>>"  target="_blank" title="<<$Impression.Content>>"> <<$Impression.Domain>>  </a>
                        </div>
                    </div>
                <<end>>
            </div>
        </div>
    </div>
</div>