<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <<template "import.html" .>>
    <script src="/static/js/mint-ui.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
</head>

<body>
    <<template "navbar.html" .>>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
                <div class="card rounded-0 px-3 px-lg-4">
                    <div class="card-header text-center bg-white py-2">
                        <h3 class="my-1 text-info">登录</h3>
                    </div>
                    <div class="card-body card-login">
                        <form id="login" method="post" @submit.prevent="loginSubmit">
                            <input  type="hidden" name="csrfmiddlewaretoken" value="reyEXwmybBeR8zG22EGLHfI4mCkCq501YkHDRpkC6ckpLv0d1YEMsWmdXe7xDuke">

                            <div id="div_id_login" class="form-group">
                                <label for="id_login" class="col-form-label  requiredField">
                                    账号<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="email" class="textinput textInput form-control" v-model="email" placeholder="email" id="email" name="email" required="">
                                </div>
                            </div>

                            <div id="div_id_password" class="form-group">
                                <label for="id_password" class="col-form-label  requiredField">
                                    密码<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="password" class="textinput textInput form-control" v-model="password" placeholder="password" name="password" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div id="div_id_remember" class="form-check">
                                    <label for="id_remember" class="form-check-label">
                                        <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember">记住我
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" name="next" value="/">

                            <a class="secondaryAction" href="/accounts/password/reset/">忘记密码了？</a>

                            <button class="pull-right btn btn-info btn-sm rounded-0" type="submit" class="btn btn-primary btn-block">登录</button>

                        </form>

                    </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="login-title">
                            <span>快速登录</span>
                        </div>
                        <div class="login-link">

                            <a class="mx-4" href="/accounts/weibo/login/?next=/" title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>
                            <a class="mx-4" href="/accounts/github/login/?next=/" title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var login = new Vue({
            el:"#login",
            data:function(){
                return {
                    email:"",
                    password:"",
                };
            },

            methods:{
                loginSubmit:function(){
                    var t = this;

                    var data = {
                        email: t.email,
                        password: t.password,
                    };
                    data = JSON.stringify(data);
                    post("v1/api/user/login", data, function(data){
                            if(data.code==0){
                                t.$toast("登录成功");
                                top.location.href="/";
                            }else{
                                t.$toast(data.msg);
                            }
                        }
                    )
                }
            },

            created:function(){

            },
        });
    </script>
</body>
