<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <<template "import.html" .>>
    <script src="/static/js/mint-ui.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
</head>

<body>
    <<template "navbar.html" .>>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
                <div class="card rounded-0 px-3 px-lg-4">
                    <div class="card-header text-center bg-white py-2">
                        <h3 class="my-1 text-info">登录</h3>
                    </div>
                    <div class="card-body card-login">
                        <form id="login" method="post" @submit.prevent="loginSubmit">
                            <input  type="hidden" name="csrfmiddlewaretoken" value="reyEXwmybBeR8zG22EGLHfI4mCkCq501YkHDRpkC6ckpLv0d1YEMsWmdXe7xDuke">

                            <div id="div_id_login" class="form-group">
                                <label for="id_login" class="col-form-label  requiredField">
                                    账号<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="email" class="textinput textInput form-control" v-model="email" placeholder="email" id="email" name="email" required="">
                                </div>
                            </div>

                            <div id="div_id_password" class="form-group">
                                <label for="id_password" class="col-form-label  requiredField">
                                    密码<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <input type="password" class="textinput textInput form-control" v-model="password" placeholder="password" name="password" required="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div id="div_id_remember" class="form-check">
                                    <label for="id_remember" class="form-check-label">
                                        <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember">记住我
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" name="next" value="/">

                            <a class="secondaryAction" href="#">忘记密码了？</a>

                            <button class="pull-right btn btn-info btn-sm rounded-0" type="submit" class="btn btn-primary btn-block">登录</button>

                        </form>

                    </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="login-title">
                            <span>快速登录</span>
                        </div>
                        <div class="login-link">

                            <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>
                            <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid mt-4 py-0" style="position: fixed; bottom: 0; width: 100%">
        <div class="card-body text-center px-0 f-14">
            <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
                <a href="https://github.com/pannnkee" target="_blank" title="博客作者的Github">Pannnkee</a>.&nbsp;Powered&nbsp;by&nbsp;Beego.
            </p>
            <p class="mb-0">
                <a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备2020034190号</a> |
                <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279471892&web_id=1279471892"></script> |
                <span id="web-day">网站已续航 <<.HowToLive>> 天</span>
            </p>
        </div>
    </footer>

    <script>
        var login = new Vue({
            el:"#login",
            data:function(){
                return {
                    email:"",
                    password:"",
                };
            },

            methods:{
                loginSubmit:function(){
                    var t = this;

                    var data = {
                        email: t.email,
                        password: t.password,
                    };
                    data = JSON.stringify(data);
                    var next = this.GetUrlPara();
                    console.log(next);
                    var url = "/user/login?"+next;
                    post(url, data, function(data){
                            if(data.code==0){
                                t.$toast("登录成功");
                                console.log("data.msg:", data.msg);
                                top.location.href=data.msg;
                            }else{
                                t.$toast(data.msg);
                            }
                        }
                    )
                },

                GetUrlRelativePath:function () {
                    var url = document.location.toString();
                    var arrUrl = url.split("//");

                    var start = arrUrl[1].indexOf("/");
                    var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

                    if(relUrl.indexOf("?") != -1){
                        relUrl = relUrl.split("?")[0];
                    }
                    return relUrl;
                },

                GetUrlPara:function () {
                    var url = document.location.toString();
                    var arrUrl = url.split("?");

                    var para = arrUrl[1];
                    return para;
                }
            },

            created:function(){

            },
        });
    </script>
</body>
