<!--导航开始-->
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" id="site-logo-name" href="/">
        <strong class="px-2">Pannnkee's Zone</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 {% if request.path == index_url %}active{% endif %}" href="/"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 {% if request.path == archive_url %}active{% endif %}" href="/archive"><i class="fa fa-sitemap mr-1"></i>归档</a>
            </li>

            <li class="nav-item mr-2 ">
                <a class="nav-link py-md-3 {% if request.path == about_url %}active{% endif %}" href="<< .about_url >>"><i class="fa fa-anchor mr-1"></i>关于</a>
            </li>

            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform" action="{% url 'blog:search_view'%}">
                <div class="input-group">
                    <input type="search" name="q" class="form-control rounded-0" placeholder="站内搜索" autocomplete="off" required=True>
                    <div class="input-group-btn">
                        <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div><!-- /input-group -->
            </form>
        </ul>
        <ul class="navbar-nav">

            <<if .IsLogin>>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" title="<<.User>>，欢迎回来！">
                    </a>
                        <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item pl-3" href="/"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>

                            <a class="dropdown-item pl-3" href="/"><i
                                        class="fa fa-fw fa-key text-info mr-2"></i>后台管理</a>

                            <a class="dropdown-item pl-3" href="/v1/api/user/logout"><i
                                        class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                        </div>
            <<end>>
            </li>

            <li class="nav-item mr-2">
                <<if eq .IsLogin false>>
                    <a class="nav-link py-md-3" href="/login">登录</a>
                <<end>>
            </li>
            <li class="nav-item">
                <<if eq .IsLogin false>>
                    <a class="nav-link py-md-3" href="/register">注册</a>
                <<end>>
            </li>

        </ul>
    </div>
</nav>
<!--导航结束-->