<!--导航开始-->
<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" id="site-logo-name" href="/">
        <strong class="px-2">Pannnkee's Zone</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 <<if .isHome>> active <<end>>" href="/"><i class="fa fa-home mr-1"></i>首页<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item mr-2">
                <a class="nav-link py-md-3 <<if .isArchive>> active <<end>>" href="/archive"><i class="fa fa-sitemap mr-1"></i>归档</a>
            </li>

            <li class="nav-item mr-2 ">
                <a class="nav-link py-md-3 <<if .isAbout>> active <<end>>" href="/about"><i class="fa fa-anchor mr-1"></i>关于</a>
            </li>

            <!-- action="/v1/api/static/search" -->
            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform">
                <div class="input-group">
                    <input type="search" name="q" class="form-control rounded-0" placeholder="站内搜索" autocomplete="off" required=True>
                    <div class="input-group-btn">
                        <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div><!-- /input-group -->
            </form>
        </ul>
        <ul class="navbar-nav">

            <<if .IsLogin>>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" title="<<.User.user_name>>，欢迎回来！" >
                        <img class="avatar" src="<<.User.avatar>>">
                    </a>
                        <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item pl-3" href="/profile"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>

                            <a class="dropdown-item pl-3" href="/user/logout"><i
                                        class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                        </div>
            <<end>>
            </li>

            <li class="nav-item mr-2">
                <<if eq .IsLogin false>>
                    <a class="nav-link py-md-3"   onclick="GetLoginUrlRelativePath();" href="#">登录</a>
                <<end>>
            </li>
            <li class="nav-item">
                <<if eq .IsLogin false>>
                    <a class="nav-link py-md-3" onclick="GetLRegisterUrlRelativePath();" href="#">注册</a>
                <<end>>
            </li>

        </ul>
    </div>
</nav>

<script>

    function GetLoginUrlRelativePath() {

        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if(relUrl.indexOf("?") != -1){
            relUrl = relUrl.split("?")[0];
        }

        var newurl = "/login?next="+relUrl;
        window.location.href=newurl;
    }

    function GetLRegisterUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if(relUrl.indexOf("?") != -1){
            relUrl = relUrl.split("?")[0];
        }

        var newurl = "/register?next="+relUrl;
        window.location.href=newurl;
    }
</script>
<!--导航结束-->