<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.ZoneName>></title>
    <script>var UserInfo=<<.UserInfo>></script>
    <<template "import.html" .>>

    <style type="text/css">
        .footer {
            margin-top: -50px;
            height: 50px;
            background-color: #eee;
            z-index: 9999;
        }
    </style>

</head>
<body>

<!--导航开始-->
<<template "navbar.html" .>>
<!--导航结束-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2"><h3 class="my-1 text-info">个人资料</h3></div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item text-center border-0" id="profile-avatar">
                            <img class="avatar" src="/static/img/avator.png">
                        </li>
                        <li class="list-group-item ml-5 border-0">
                            <span class="font-weight-bold">用户名：</span>
                            <span><<.UserInfo.UserName>></span>
                        </li>
                        <li class="list-group-item ml-5 border-0" title="提示：已验证邮箱的用户有更多特权！">
                            <span class="font-weight-bold">邮&emsp;箱：</span>
                            <span><<.UserInfo.Email>></span>
                        </li>
                    </ul>
                </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="login-title">
                            <span>更多操作</span>
                        </div>
                        <div class="more-link mt-3">
                            <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="/">修改资料</a>
                            <a class="btn btn-info btn-sm rounded-0 mx-lg-3 mx-sm-2" href="/alterPassword">修改密码</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid mt-4 py-0">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
            <a href="https://github.com/pannnkee" target="_blank" title="博客作者的Github">Pannnkee</a>.&nbsp;Powered&nbsp;by&nbsp;Beego.
        </p>
        <p class="mb-0">
        </p>
    </div>
</footer>

</body>
</html>