<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><<.title>></title>
    <<template "import.html" .>>
    <script src="/static/js/mint-ui.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/mint-ui/lib/index.js"></script>
</head>
<body>
    <<template "navbar.html" .>>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
                <div class="card rounded-0 px-3 px-lg-4">
                    <div class="card-header text-center bg-white py-2">
                        <h3 class="my-1 text-info">注册</h3>
                    </div>
                    <div class="card-body card-login">


                        <form id="register" class="signup" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="eB3CfeRRjX3d8Wt7bC4UkWz6rKO6Tw6hLHcB97PVey9LLSNiaW2V5Ddf2mB16Vqu">

                            <div id="div_id_email" class="form-group">
                                <label for="id_email" class="col-form-label  requiredField">E-mail<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input type="email" name="email" placeholder="E-mail地址" class="textinput textInput form-control"
                                           required="" id="email" v-model="email">
                                </div>
                            </div>
                            <div id="div_id_username" class="form-group">
                                <label for="id_username" class="col-form-label  requiredField">用户名<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input type="text" name="username" placeholder="用户名" autofocus="autofocus"
                                           minlength="1" maxlength="150" class="textinput textInput form-control"
                                           required="" id="id_username" v-model="username">
                                </div>
                            </div>
                            <div id="div_id_password1" class="form-group">
                                <label for="id_password1" class="col-form-label  requiredField">密码<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input type="password" name="password1" placeholder="密码" class="textinput textInput form-control"
                                           required="" id="id_password1" v-model="password">
                                </div>
                            </div>
                            <div id="div_id_password2" class="form-group">
                                <label for="id_password2" class="col-form-label  requiredField">密码(重复)<span class="asteriskField">*</span></label>
                                <div class="">
                                    <input type="password" name="password2" placeholder="密码(重复)" class="textinput textInput form-control"
                                           required="" id="id_password2" v-model="repeat_password">
                                </div>
                            </div>
<!--
                            <div id="div_verifyCode" class="form-group">
                                <label for="" class="col-form-label requiredField">验证码<span class="asteriskField">*</span></label>
                                <div class="">
                                    <button class="pull-right btn btn-info btn-sm rounded-0" id="verify_code_btn" @click="GetCode" style="width: 40%;">getCode</button>
                                    <input type="verify_code" name="verify_code" placeholder="验证码" class="textInput form-control" style="width: 40%;"
                                           id="verify_code" v-model="verify_code">
                                </div>
                            </div>
-->
                            <input type="hidden" name="next" value="/accounts/login/">

                            <a class="secondaryAction" href="/accounts/login/">已有账号登录</a>
                            <button class="pull-right btn btn-info btn-sm rounded-0" id="register" @click="registerSubmit">注册</button>
                        </form>

                    </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="login-title">
                            <span>快速登录</span>
                        </div>
                        <div class="login-link">

                            <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-weibo fa-2x"></i></a>
                            <a class="mx-4"  title="社交账号登录有点慢，请耐心等候！"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid mt-4 py-0" style="position: fixed; bottom: 0; width: 100%">
        <div class="card-body text-center px-0 f-14">
            <p class="card-text mb-1">Copyright&nbsp;&copy;&nbsp;<span id="year-info"></span>
                <a href="https://github.com/pannnkee" target="_blank" title="博客作者的Github">Pannnkee</a>.&nbsp;Powered&nbsp;by&nbsp;Beego.
            </p>
            <p class="mb-0">
                <a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备2020034190号</a> |
                <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1279471892&web_id=1279471892"></script> |
                <span id="web-day">网站已续航 <<.HowToLive>> 天</span>
            </p>
        </div>
    </footer>

<script>
    var register = new Vue({
        el:"#register",
        data:function(){
            return {
                email:"",
                username:"",
                password:"",
                repeat_password:"",
                verify_code:"",
            };
        },

        methods:{
            registerSubmit:function(){
                var t = this;

                var data = {
                    email: t.email,
                    username: t.username,
                    password: t.password,
                    repeat_password: t.repeat_password,
                    verify_code: t.verify_code,
                };
                var next = this.GetUrlPara();
                var url = "/user/register?"+next;
                data = JSON.stringify(data);
                post(url, data, function(data){
                        if(data.code==0){
                            t.$toast("注册成功");
                            console.log("data.msg:", data.msg);
                            top.location.href=data.msg;
                        }else{
                            t.$toast(data.msg);
                        }
                    }
                )
            },

            GetUrlPara:function () {
                var url = document.location.toString();
                var arrUrl = url.split("?");

                var para = arrUrl[1];
                return para;
            }
        },

        created:function(){

        },
    });
    
</script>


</body>
</html>